:root:root:root .main
  width 100%!important
  padding 0
  padding-left 15em
  margin-top -1em
  .ui.grid
    margin 0
    & > .row
      padding-bottom 0
    .column + .column
      padding-left 0
  .top-bar
    overflow visible
    width 100%
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.50)
    padding 0 1rem
    .top.menu
      border-radius 0
      min-height 70px
      .addr,.eth-logo,.vth-logo
        display flex
        align-items center
        img
          margin-right 5px
      .vth-logo:hover
        cursor pointer
      .eth-logo img
        height 30px
      .vth-logo img
        height 30px
  .main-wrapper
    width 100%
@media only screen and (max-width: 767px)
  :root:root:root:root .main
    margin-top 200px!important
    padding 0!important
    .top-bar
      padding 0!important
      .top.menu
        padding-top 2em