:root:root:root .side-menu-wrap
  width 15em!important
  .overflow-x,.overflow-y
    overflow auto
  .overflow-x::-webkit-scrollbar,.overflow-y::-webkit-scrollbar
    width 5px
    height 5px
  .overflow-x::-webkit-scrollbar-track,.overflow-y::-webkit-scrollbar-track
    background #2e323a
  .overflow-x::-webkit-scrollbar-thumb,.overflow-y::-webkit-scrollbar-thumb
    background-color #414652
    border 1px solid #414652
  .overflow-x::-webkit-scrollbar-thumb:hover,.overflow-y::-webkit-scrollbar-thumb:hover
    background-color #1a1d23
:root:root:root .side-menu
  background-color #6a2499
  display flex
  flex-direction column
  width 15em!important
  a:hover
    text-decoration underline
  .logo
    box-shadow 0 2px 4px 0 rgba(65,25,120,1)
    margin-top 10px
    font-size 28px
    img
      height 50px
      margin-top -8px
    span
      color white
      margin-left 10px
    a
      text-align center
      display block
  .side-menu-list
    padding 1em
    .list.ui
      margin 0
    .list-title
      color rgba(255,255,255,0.66)
    .item
      border 1px solid transparent
      border-radius 0.3em!important
      padding 0.3em 0.7em
      margin 0.5em 0
      &.active
        border-color #F4F7FA
      &:before
        background none!important
@media only screen and (max-width: 767px)
  :root:root:root .side-menu-wrap
    position relative
    width 100%!important
    margin 0!important
    padding 0!important
    .side-menu
      display block
      width 100%!important
      height auto!important
      .logo
        display block
        width 100%
        box-shadow none
      .side-menu-list
        width 100%
        overflow auto
        padding 1em
        height auto
        .list
          display inline-block
          float left
          .list-title
            display none
          .item
            display inline-block
            width auto
            float left