:root:root:root .side-menu-wrap {
  width: 15em !important;
}
:root:root:root .side-menu-wrap .overflow-x,
:root:root:root .side-menu-wrap .overflow-y {
  overflow: auto;
}
:root:root:root .side-menu-wrap .overflow-x::-webkit-scrollbar,
:root:root:root .side-menu-wrap .overflow-y::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
:root:root:root .side-menu-wrap .overflow-x::-webkit-scrollbar-track,
:root:root:root .side-menu-wrap .overflow-y::-webkit-scrollbar-track {
  background: #2e323a;
}
:root:root:root .side-menu-wrap .overflow-x::-webkit-scrollbar-thumb,
:root:root:root .side-menu-wrap .overflow-y::-webkit-scrollbar-thumb {
  background-color: #414652;
  border: 1px solid #414652;
}
:root:root:root .side-menu-wrap .overflow-x::-webkit-scrollbar-thumb:hover,
:root:root:root .side-menu-wrap .overflow-y::-webkit-scrollbar-thumb:hover {
  background-color: #1a1d23;
}
:root:root:root .side-menu {
  background-color: #6a2499;
  display: flex;
  flex-direction: column;
  width: 15em !important;
}
:root:root:root .side-menu a:hover {
  text-decoration: underline;
}
:root:root:root .side-menu .logo {
  box-shadow: 0 2px 4px 0 #411978;
  margin-top: 10px;
  font-size: 28px;
}
:root:root:root .side-menu .logo img {
  height: 50px;
  margin-top: -8px;
}
:root:root:root .side-menu .logo span {
  color: #fff;
  margin-left: 10px;
}
:root:root:root .side-menu .logo a {
  text-align: center;
  display: block;
}
:root:root:root .side-menu .side-menu-list {
  padding: 1em;
}
:root:root:root .side-menu .side-menu-list .list-title {
  color: rgba(255,255,255,0.66);
}
:root:root:root .side-menu .side-menu-list .item {
  border: 1px solid transparent;
  border-radius: 0.3em !important;
  padding: 0.3em 0.7em;
  margin: 0.5em 0;
}
:root:root:root .side-menu .side-menu-list .item.active {
  border-color: #f4f7fa;
}
:root:root:root .side-menu .side-menu-list .item:before {
  background: none !important;
}
@media only screen and (max-width: 767px) {
  :root:root:root .side-menu-wrap {
    position: relative;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  :root:root:root .side-menu-wrap .side-menu {
    display: block;
    width: 100% !important;
    height: auto !important;
  }
  :root:root:root .side-menu-wrap .side-menu .logo {
    display: block;
    width: 100%;
    box-shadow: none;
  }
  :root:root:root .side-menu-wrap .side-menu .side-menu-list {
    width: 100%;
    overflow: auto;
    padding: 1em;
    height: auto;
  }
  :root:root:root .side-menu-wrap .side-menu .side-menu-list .list {
    display: inline-block;
    float: left;
  }
  :root:root:root .side-menu-wrap .side-menu .side-menu-list .list .list-title {
    display: none;
  }
  :root:root:root .side-menu-wrap .side-menu .side-menu-list .list .item {
    display: inline-block;
    width: auto;
    float: left;
  }
}
