:root:root .add-ms-modal {
  overflow: auto;
  max-height: 90vh;
}
:root:root .add-ms-modal .form-group.field.field-number {
  float: left;
  max-width: 22%;
}
:root:root .add-ms-modal .form-group.field.field-number + .form-group.field.field-number {
  margin-left: 3%;
}
